In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('top10K-TMDB-movies.csv')

In [3]:
movies_tr = pd.read_pickle('tmdb_tr_rated6+.pkl')

In [4]:
movies_tr

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,1248795,Romantik Hırsız,"Action, Drama, Romance",tr,After learning that the art thief she has been...,191.777,2024-03-14,6.591,93
1,637920,7. Koğuştaki Mucize,Drama,tr,"Separated from his daughter, a father with an ...",35.017,2019-10-10,8.300,4302
2,1141202,Aşk Taktikleri 2,"Comedy, Romance",tr,"Asli thinks marriage is a scam, and says so. B...",32.982,2023-07-14,7.000,109
3,1006911,Sen İnandır,"Comedy, Romance",tr,Two meddling grannies trick their adult grandk...,28.965,2023-06-23,6.500,94
4,1044302,İstanbul İçin Son Çağrı,"Drama, Romance",tr,A chance meeting at the airport leads two marr...,27.870,2023-11-24,6.500,96
...,...,...,...,...,...,...,...,...,...
255,191152,Kiracı,"Comedy, Drama",tr,Kerim lives with his family in a rent house fo...,1.342,1987-09-30,6.400,29
256,220004,Erkek Güzeli Sefil Bilo,"Comedy, Drama",tr,Bilo is released from prison..,1.271,1979-09-07,6.400,27
257,52188,Bekleme Odası,Drama,tr,Zeki Demirkubuz plays the lead character Ahmet...,1.252,2004-02-27,6.200,26
258,334388,Baskın,Horror,tr,Police summoned to an apartment building make ...,1.140,2013-08-26,6.700,30
259,272045,Düğün,Drama,tr,A family migrates to Istanbul from the rural p...,0.924,1973-12-01,6.700,26

In [5]:
movies.tail()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [6]:
movies = pd.concat([movies, movies_tr], ignore_index=True)

In [7]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [8]:
movies.tail()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
10255,191152,Kiracı,"Comedy, Drama",tr,Kerim lives with his family in a rent house fo...,1.342,1987-09-30,6.4,29
10256,220004,Erkek Güzeli Sefil Bilo,"Comedy, Drama",tr,Bilo is released from prison..,1.271,1979-09-07,6.4,27
10257,52188,Bekleme Odası,Drama,tr,Zeki Demirkubuz plays the lead character Ahmet...,1.252,2004-02-27,6.2,26
10258,334388,Baskın,Horror,tr,Police summoned to an apartment building make ...,1.140,2013-08-26,6.7,30
10259,272045,Düğün,Drama,tr,A family migrates to Istanbul from the rural p...,0.924,1973-12-01,6.7,26

In [9]:
movies.describe()

         popularity  vote_average
count  10260.000000  10260.000000
mean      33.982090      6.631427
std      209.041198      0.764393
min        0.600000      4.600000
25%        8.914750      6.100000
50%       13.374500      6.600000
75%       25.133000      7.200000
max    10436.917000      8.700000

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10260 entries, 0 to 10259
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10260 non-null  object
 1   title              10260 non-null  object
 2   genre              10257 non-null  object
 3   original_language  10260 non-null  object
 4   overview           10247 non-null  object
 5   popularity         10260 non-null  float64
 6   release_date       10260 non-null  object
 7   vote_average       10260 non-null  float64
 8   vote_count         10260 non-null  object
dtypes: float64(2), object(7)
memory usage: 721.5+ KB

In [11]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [12]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [13]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [14]:
movies.head()

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"

In [15]:
movies['tags'] = movies['overview']+movies['genre']

In [16]:
movies.head(3)

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."

In [17]:
new_data = movies.drop(columns=['overview', 'genre'])

In [18]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
10255,191152,Kiracı,Kerim lives with his family in a rent house fo...
10256,220004,Erkek Güzeli Sefil Bilo,"Bilo is released from prison..Comedy, Drama"
10257,52188,Bekleme Odası,Zeki Demirkubuz plays the lead character Ahmet...
10258,334388,Baskın,Police summoned to an apartment building make ...
10259,272045,Düğün,A family migrates to Istanbul from the rural p...

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
tfidf_vectorizer = TfidfVectorizer(max_features = 10259, stop_words='english')

In [21]:
vector = tfidf_vectorizer.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [22]:
vector.shape

(10260, 10259)

In [23]:
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity = cosine_similarity(vector)

In [26]:
similarity

array([[1.        , 0.0156804 , 0.02653239, ..., 0.01970762, 0.        ,
        0.00283206],
       [0.0156804 , 1.        , 0.01185776, ..., 0.01503365, 0.        ,
        0.02038988],
       [0.02653239, 0.01185776, 1.        , ..., 0.03461029, 0.        ,
        0.03860096],
       ...,
       [0.01970762, 0.01503365, 0.03461029, ..., 1.        , 0.03922686,
        0.03046067],
       [0.        , 0.        , 0.        , ..., 0.03922686, 1.        ,
        0.        ],
       [0.00283206, 0.02038988, 0.03860096, ..., 0.03046067, 0.        ,
        1.        ]])

In [27]:
new_data[new_data['title']=="Captain America"].index[0]

9997

In [28]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key= lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
The Godfather: Part III
Blood Ties
Kaçma Birader

In [29]:
def recommand(movies):
    index = new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda vector:vector[1])
    for i in distance[1:6]:
        print(new_data.iloc[i[0]].title)

In [30]:
recommand("The Last Airbender")

Inkheart
Toc Toc
The Art of War
Zindagi Na Milegi Dobara
Pirates of the Caribbean: At World's End

In [31]:
import pickle

In [32]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [33]:
pickle.dump(similarity, open('similarity_list.pkl', 'wb'))

In [34]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
10255,191152,Kiracı,Kerim lives with his family in a rent house fo...
10256,220004,Erkek Güzeli Sefil Bilo,"Bilo is released from prison..Comedy, Drama"
10257,52188,Bekleme Odası,Zeki Demirkubuz plays the lead character Ahmet...
10258,334388,Baskın,Police summoned to an apartment building make ...
10259,272045,Düğün,A family migrates to Istanbul from the rural p...

In [35]:
pickle.load(open('similarity_list.pkl', 'rb'))

array([[1.        , 0.0156804 , 0.02653239, ..., 0.01970762, 0.        ,
        0.00283206],
       [0.0156804 , 1.        , 0.01185776, ..., 0.01503365, 0.        ,
        0.02038988],
       [0.02653239, 0.01185776, 1.        , ..., 0.03461029, 0.        ,
        0.03860096],
       ...,
       [0.01970762, 0.01503365, 0.03461029, ..., 1.        , 0.03922686,
        0.03046067],
       [0.        , 0.        , 0.        , ..., 0.03922686, 1.        ,
        0.        ],
       [0.00283206, 0.02038988, 0.03860096, ..., 0.03046067, 0.        ,
        1.        ]])

In [36]:
new_data.to_csv('veri.csv', index=False)