In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('top10K-TMDB-movies.csv')

In [3]:
movies.head(3)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280

In [4]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [6]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [7]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [9]:
movies.head()

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"

In [10]:
movies['tags'] = movies['overview']+movies['genre']

In [11]:
movies.head(3)

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."

In [12]:
new_data = movies.drop(columns=['overview', 'genre'])

In [13]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
tfidf_vectorizer = TfidfVectorizer(max_features = 10000, stop_words='english')

In [32]:
vector = tfidf_vectorizer.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [33]:
vector.shape

(10000, 10000)

In [34]:
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
similarity = cosine_similarity(vector)

In [20]:
similarity

array([[1.        , 0.01620488, 0.02669636, ..., 0.06022964, 0.04670032,
        0.0254026 ],
       [0.01620488, 1.        , 0.01160979, ..., 0.        , 0.0035672 ,
        0.        ],
       [0.02669636, 0.01160979, 1.        , ..., 0.01235843, 0.02225984,
        0.01920721],
       ...,
       [0.06022964, 0.        , 0.01235843, ..., 1.        , 0.00653857,
        0.00463921],
       [0.04670032, 0.0035672 , 0.02225984, ..., 0.00653857, 1.        ,
        0.00793266],
       [0.0254026 , 0.        , 0.01920721, ..., 0.00463921, 0.00793266,
        1.        ]])

In [21]:
new_data[new_data['title']=="Captain America"].index[0]

9997

In [22]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key= lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
The Godfather: Part III
Blood Ties
The Best of Youth

In [23]:
def recommand(movies):
    index = new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key= lambda vector:vector[1])
    for i in distance[1:6]:
        print(new_data.iloc[i[0]].title)

In [24]:
recommand("The Last Airbender")

Inkheart
Toc Toc
The Art of War
Zindagi Na Milegi Dobara
Pirates of the Caribbean: At World's End

In [25]:
import pickle

In [26]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [27]:
pickle.dump(similarity, open('similarity_list.pkl', 'wb'))

In [28]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [29]:
pickle.load(open('similarity_list.pkl', 'rb'))

array([[1.        , 0.01620488, 0.02669636, ..., 0.06022964, 0.04670032,
        0.0254026 ],
       [0.01620488, 1.        , 0.01160979, ..., 0.        , 0.0035672 ,
        0.        ],
       [0.02669636, 0.01160979, 1.        , ..., 0.01235843, 0.02225984,
        0.01920721],
       ...,
       [0.06022964, 0.        , 0.01235843, ..., 1.        , 0.00653857,
        0.00463921],
       [0.04670032, 0.0035672 , 0.02225984, ..., 0.00653857, 1.        ,
        0.00793266],
       [0.0254026 , 0.        , 0.01920721, ..., 0.00463921, 0.00793266,
        1.        ]])